/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400&family=Lato:wght@300;400;700&family=Oswald:wght@200;300;400;500;600&display=swap');

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  background-image: url("../Images/largeBackground.png");
  /* background-color: black; */
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  overflow: scroll;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::-webkit-scrollbar,
.section-style::-webkit-scrollbar {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url("../Images/JoelSmallBkgrd.png") !important;
  }

}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand,
.navbar-link,
.slide-title {
  font-family: "Oswald", sans-serif;
}

.name-title,
.slide-title {
  text-transform: uppercase;
  color: #fff;
}

.name-title {
  font-size: 18px;
  font-size: 1.2rem;
  font-weight: 300 !important;
  letter-spacing: 8px;
  margin: 0;
}



.container {
  max-width: 1110px;
  width: 100% !important;
  overflow: hidden;
}




/*---------------------------
	Social Menu Icons
----------------------------*/

.icon-align {
  z-index: 2 !important;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 30px;
  top: 65%;
  height: 260px;
  justify-content: space-around;
  align-items: center;

  :is(img) {
    color: #cacaca;
    height: 80px;
    rotate: 180deg;
  }
}

.social-line {
  width: 1px;
  height: 80px;
  background-color: #fff;
}

a {
  color: #cacaca;
  overflow: visible;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}


svg {
  width: 25px;
  height: 25px;
}

@media only screen and (max-width: 991px) {
  .social-menu {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .icon-align {
    left: 10px;
  }
}

/*---------------------------
	Home page
----------------------------*/

.col-direction {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.btn-alignment {
  gap: 20px;
}

.slide-title {
  font-size: 70px;
  font-weight: 700;
}

@media only screen and (max-width:767px) {
  .col-sm-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slide-title {
    font-size: 50px;
  }

}

/*---------------------------
	Contact
----------------------------*/
.form-control {
  background-color: #212529;
  height: 50px;
  padding: 6px 15px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #495057;
  background: rgba(51, 51, 51, .5);
  border-radius: 5px;
  color: #ffffff;
}

.form-control:focus {
  background-color: #212529;
  color: #ffffff;
}

.form-button {
  display: flex;
  justify-content: flex-end;
}
